

.weather-wrapper{
    border-radius: 3%;
    margin: 1em;
}

.days-sequence-wrapper{
    width: 100%;
    height: 30%;
}

.days-sequence{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    margin:0;
    padding: 0;
}

.days-sequence li{
    height: auto;
    flex: 1;
    border-radius: 3%;
}

.days-sequence li:hover{
    background-color: gainsboro;
    cursor: pointer;
}

@media screen and (max-width:992px) {
    .days-sequence li{
        flex: 1;
    }
    .dashboard{
        width: 75vw;
    }
}

.current-weather{
    width: 100%;
}


.selected-day-graph{
    width: 100%;
    height: 35vh;
    margin: 1em 0;
    margin-bottom: 2em;
}


span.degrees:hover{
    cursor:pointer;
}


.clothes-recomendation{
}

.input-location-wrapper form input{
    margin: 0 auto;
    border:solid 1px #ccc;
    border-radius: 10px;
}